img{
    position: fixed;
    top:0px;
width: 1250px;
height: auto;
z-index: 1;
}
div{
    height: 250px;
    background-color:black;
    margin: 250px 0px;
    position: relative;
    z-index: 2;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: Fade 5s infinite 0s;
}
@keyframes Fade {
    0%,100%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }

}